body {
    font-family: Arial, sans-serif;@@
    background-color: #f4f4f4;
}
/* Navbar */
.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s;
}
/* Botão "Cadastre-se" no Nav */
.navbar .btn-outline-success {
    color: white;
    border-color: white;
}

.navbar .btn-outline-success:hover {
    background-color: #3e6606;
    color: #3e6606;
    border-color: #3e6606;
}
/* Banner */
.banner img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.navbar-nav .nav-link:hover {
    color: #3e6606;
}

/* Estilização do card */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Limita a altura da imagem e garante o alinhamento */
.card-img-top {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
}


/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
