
@font-face {
  font-family: 'Roboto'; /* Escolha um nome para a fonte */
  src: url('./fontes/Roboto-Medium.ttf'); /* Outros formatos conforme necessário */
  font-weight: normal; /* Pode ser 'normal', 'bold', etc. */
  font-style: normal; /* Pode ser 'normal', 'italic', etc. */
}


body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: white;
}
/* Botão "Cadastre-se" no Nav */
.navbar .btn-outline-success {
    color: white;
    border-color: white;
}

.navbar .btn-outline-success:hover {
    background-color: #3e6606;
    color: #3e6606;
    border-color: black;
}.container-fluid{
    background-color:#3e6606;

}

/* Cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
}

.card-body {
    color: #666;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

