body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff9800;
    padding: 15px;
    color: white;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    color: #ff9800;
    font-size: 3em;
}

hr{
    color: #ff9800;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.sobre img, .missao img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    color: #ff9800;
}

.valores ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.valores ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.valores ul li img {
    height: auto;
    width: 100px;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    
}
