body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff9800;
    padding: 15px;
    padding-right: 10px;
    color: white;
    width: 98%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 80px; /* Espaço para o cabeçalho fixo */
    perspective: 1000px; /* Para o efeito de rotação */
}

.container {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
    backface-visibility: hidden;
    position: absolute;
    width: 300px;
}

#front {
    transform: rotateY(0deg);
}

#back {
    transform: rotateY(180deg);
}

h2 {
    color: #ff6600;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
}

input:focus {
    border-color: #ff6600;
}

button {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e65c00;
}

a {
    color: #ff6600;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
