body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ff8c00;
}
/* Botão "Cadastre-se" no Nav */
.navbar .btn-outline-success {
    color: #ff8c00;
    border-color: #ff8c00;
}

.navbar .btn-outline-success:hover {
    background-color: #ff8c00;
    color: white;
    border-color: #ff8c00;
}

/* Cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
}

.card-body {
    color: #666;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

